*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.new-order button{
    margin-top: 30px;
}
.success-payment .btn-primary{
    margin-right: 20px;
}
.red{
    color: red;
}
.green{
    color: green;
}
